@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

body {
    margin-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
    font-family: "Raleway";
    font-size: 16px;
    max-width: 1136px;
    margin-bottom: 80px;
    margin: auto;
}

label {
    margin-top: 16px;
    margin-bottom: 16px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    
}

a {
    color: #004BCD
}

h2 {
    margin-top: 20px;
}

thead {
    text-align: left;
}

th, td {
    border-bottom: 1px solid #fde6e3;
    border-right: 0px;
    padding: 12px;
}

tbody > tr:hover {
    background-color: #fcd0cd;
}

tr:nth-child(even) {
    background-color: #fde6e3;
}

.bold {
    font-weight: bold;
}

.extra-padding {
    padding-left: 36px;
}

.more-info {
    background-color: #f44336;
    text-align: center;
    color: white;
    border-color: #fcd0cd;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #fde6e3;
    text-align: center;
  }

  .body-container {
      display: flex;
      flex-direction: column;
  }

  .filter-container {
      display: flex;
  }

  .role-item {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .name-item {
    min-width: 220px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .checkbox-container {
      display: flex;
      flex-wrap: wrap;
  }

  .cb {
      width: 150px;
  }

  .more-margin {
      margin-bottom: 12px;
  }